# Cleaning applicants' degree names

In [9]:
import numpy as np
import pandas as pd

from datetime import datetime as dt
import random
import re

In [12]:
data = pd.read_pickle("../../Data/app_opp.pickle")
data.sample(4)

data.degree.unique()

array(["Bachelor's Degree Anticipated 2020",
       "Associate's Degree of Applied Science", 'M.C.A', 'B.C.A', 'HSC',
       'SSLC', 'Associates',
       'Masters of Science in Management Information Systems',
       'Bachelor of Business Administration', 'Oberschule', '1 year ',
       'Certificate',
       "Master's Degree in Industrial Engineering and Economics/Finance",
       'MSN', 'BSN', 'Diploma', 'freshman', 'B.Tech', 'BS',
       'Certificate pending', 'Certificate of Completion',
       'Bachelor of Science in Microbiology', 'Masters of Education',
       'Doctorate in Teaching', 'Masters',
       'Teacher Certification Program', 'Bachelor of Arts in English',
       'Master of Science in Nursing', 'Bachelor of Science in Nursing',
       'Bachelors', 'Bachelor of Science', 'Associate of Science',
       'B.S. in Healthcare Management', "Master's in Special Education",
       "Master's in Political Science", 'Professional',
       "Bachelor's in English", '11', 'High School', 'Cosmetology ',
       'CMA', 'Bachelors of Science in Nursing', '12 ',
       'Master of Accountancy',
       'Bachelor of Business Administration in Accounting',
       "BACHELOR'S DEGREE", 'ASSOCIATES DEGREE', 'N/A',
       'HIGH SCHOOL DIPLOMA', 'BTech', 'DIPLOMA', 'diploma',
       'Master in Special Education', 'Master of Arts in Teaching',
       'Bachelor of Arts in English/Communications',
       'Certification in Phlebotomy',
       'Certification in Clinical Medical Assistant', 'General Studies',
       'Some college', 'Certification', 'Bachelor of Arts',
       'Master of Arts', 'Associate in Science', 'Associates Degree',
       'High School Diploma', 'Patient Care Technician ', 'National',
       'On job Training', 'BSN prerequisites', "Bachelor's degree", 'GED',
       'Bachelor of Science in Accounting', 'Certificate in Phlebotomy',
       'MBA', 'Bachelor of Engineering', 'Doctor in Medical',
       'Phlebotomy Technician', 'Certified of Basic Life Support',
       "Bachelor's in Physician", 'Physician', 'Junior ',
       'Dual Credit Program', 'Core 40 with Academic Honors',
       "Associate's degree in Nursing", 'High school diploma',
       'Associate', 'Master of Business Administration', 'B.A.', '12',
       '2', 'Associate of Science in Nursing', 'Pre-nursing ',
       '9th grade ', 'Bachelor', 'Associate of Arts Degree',
       'Associate Degree of Nursing',
       "Master's in Integrated Manufacturing", 'Bachelor of Technology',
       'BA in Business Administration', 'CNA license',
       'Business Systems Tech', 'AA', 'Doctor of Pharmacy',
       'Associate of Applied Science',
       'Associate of Art & Associate in General Education', 'college',
       'General Education Develop', '2 years', 'GRADUATE CERTIFICATE',
       'M.ED.', 'B.S.', 'Associates Degree in Nursing',
       'Doctor of Nursing Practice', 'MSN Master of Science in Nursing',
       'Advanced Diploma ', 'High school', 'Master of Science',
       'Front-End Web Developer Nanodegree', '91 Credit Completed', 'MCA',
       'BSc', "Master's Certificate", 'Master of Arts - MA',
       "Bachelor's of Science", 'BA', 'Bachelors in Nursing', 'License',
       'Associates of Applied Science in Medical Assistant', 'CNA',
       'Master of Education (M.Ed.)',
       'Multiple Subject Teaching Credential ',
       'Single Subject Teaching Credential', 'Bachelor of Arts (B.A.)',
       'Master of Education', 'None', 'ADN', 'B.E', 'Masters of Science',
       'Ein College', 'MASTERS OF ELEMENTARY EDUCATION-READING',
       'BACHELORS OF FAMILY AND CHILD DEVELOPMENT',
       'Certified Nursing Assistant ', 'Medical assistant diploma ',
       'A.S.', 'LICENSE', 'PHD', 'Bachelor of Sciences',
       'LPN Certificate', 'PhD', "Master's in Electrical Engineering",
       "Bachelor's in Electrical Engineering", "Bachelor's Degree",
       'Medical Billin And Coding Certification',
       'Certified Professional Coder',
       'Post Graduate Studies Cardiovascular',
       'Associate of Applied Science of Diagnostic Medical Sonography',
       'Bachelor of Arts in Speech-Language Pathology',
       'Technical/other training', '3 years of college ',
       'under graduate', 'Certified Medical Assistant ',
       'ASSOCIATES IN APPLIED SCIENCE', 'Associates of Applied Science',
       'Associates in Science', 'Certificate in MRI/Ultrasound',
       'Doctorate/DNP', 'Masters/MSN', 'Bachelors/BSN', 'Diploma/RN',
       'MASTER OF SCIENCE', 'BACHELOR OF ARTS', 'B.S.N.', 'A.D.N.',
       'Associates in Applied Science in Physical Therapy',
       'Associates in Applied Science in Accounting',
       'Bachelor of Science in Nursing Candidate', 'AAS',
       'Bachelor of Science - BS',
       'Certificate in Lean Healthcare Management Principles',
       'Board certification ', 'Internship ',
       'Certificate of Achievement', 'Master of Public Administration',
       'Bachelor of Science in Land Use Planning',
       'Certified Nursing Assistant', 'M.ED', 'LNP',
       'Bachelors of Pharmacy ', 'ASSOCIATE', 'Associates in Nursing',
       'M.A.', 'none',
       'Master of Arts in Rehabilitation Counseling with Mental Health Counseling Licensure',
       'Bachelors of Science ', 'Doctor of Philosophy'], dtype=object)

In [13]:
degrees = data[['degree']]

import re

def preprocess_degree(degree):
    # Convert to lowercase
    degree = degree.lower()
    
    # Handle known patterns
    degree = re.sub(r"\bmba\b", 'master of business administration', degree)  # Handle MBA
    degree = re.sub(r"\bbsn\b", 'bachelor of science in nursing', degree)     # Handle B.S.N.
    degree = re.sub(r"bachelor's|bachelor|b\.a\.|b\.s\.|b\.tech", 'bachelor', degree)
    degree = re.sub(r"master's|master|m\.a\.|m\.s\.|m\.tech", 'master', degree)
    degree = re.sub(r"associate's|associate", 'associate', degree)
    degree = re.sub(r"doctorate|ph\.d\.|doctor of", 'doctorate', degree)      # Handle Doctor of
    degree = re.sub(r"certificate|cert\.", 'certificate', degree)
    degree = re.sub(r"diploma|dip\.", 'diploma', degree)
    
    # Remove punctuations
    degree = re.sub(r'[^\w\s]', '', degree)
    
    return degree


def extract_degree_info(degree):
    # Define common degree types
    degree_types = ["bachelor", "master", "associate", "doctorate", "certificate", "diploma", "high school"]
    
    # Extract degree type
    degree_type = "Unknown"
    for d_type in degree_types:
        if d_type in degree:
            degree_type = d_type
            break
            
    # Remove degree type and unnecessary words from the string
    concentration = re.sub(degree_type, '', degree)
    concentration = re.sub(r'\bin\b|\bof\b|\band\b|\bthe\b|\bs\b', '', concentration)
    concentration = concentration.replace(' s ', ' ')  # Handle extra 's'
    concentration = concentration.strip()

    return degree_type, concentration

# Apply preprocessing
degrees['preprocessed_degrees'] = degrees['degree'].apply(preprocess_degree)

# Extract degree info
degrees['degree_type'], degrees['concentration'] = zip(*degrees['preprocessed_degrees'].apply(extract_degree_info))

/var/folders/1w/3dbsn3055ss61n_2tk2w2crm0000gn/T/ipykernel_4687/2743880422.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  degrees['preprocessed_degrees'] = degrees['degree'].apply(preprocess_degree)
/var/folders/1w/3dbsn3055ss61n_2tk2w2crm0000gn/T/ipykernel_4687/2743880422.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  degrees['degree_type'], degrees['concentration'] = zip(*degrees['preprocessed_degrees'].apply(extract_degree_info))
/var/folders/1w/3dbsn3055ss61n_2tk2w2crm0000gn/T/ipykernel_4687/2743880422.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  degrees['degree_type'], degrees['concentration'] = zip(*degrees['preprocessed_degrees'].apply(extract_degree_info))

In [14]:
degrees.sample(10)

,degree,preprocessed_degrees,degree_type,concentration
44938,High School,high school,high school,
10163,Bachelor of Business Administration in Accounting,bachelor of business administration in accounting,bachelor,business administration accounting
58444,Diploma/RN,diplomarn,diploma,rn
55636,High School Diploma,high school diploma,diploma,high school
2508,Certificate,certificate,certificate,
19239,High School,high school,high school,
23348,Associate of Science,associate of science,associate,science
33248,Associate of Science,associate of science,associate,science
40952,Master of Education,master of education,master,education
14891,On job Training,on job training,Unknown,on job training

### We can come back to this in order to utilize cleaned data for degrees.